@page "/staffdetails/{id}"
@inherits StaffDetailBase

@if (staff == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h1>@staff.Name</h1>
                </div>
                <div class="card-body text-center">
                    <h4>Staff ID: @staff.EmployeeId</h4>
                    <h4>Email: @staff.Address</h4>
                    <h4>Starting Date: @staff.StartingDate?.ToString("d")</h4>
                    <h4>Education: @staff.Education?.EducationName</h4>
                    <h4>Department: @staff.Department?.DepartmentName</h4>

                </div>
                <div class="card-footer text-center">
                    <a href="/stafflist" class="btn btn-primary">Back</a>
                    <a href="@($"editstaff/{staff.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
                    <button class="btn btn-danger m-1" @onclick="() => DeleteStaff()">Delete</button>
                </div>
            </div>
        </div>
    </div>
}